.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%; 
  height: unset;
  background: #106CC8;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.header.shadow {
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.header.hidden {
  transform: translateY(-110%);
}

.filter {
  width: 100%;
}

.content {
  padding: 150px 50px 50px 50px;
  min-height: 100vh
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-footer {
  display: flex;
  justify-content: space-between;
}
