.product-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-title h3 {
  margin-bottom: 0;
}

.product-styles {
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.product-delivery-time {
  position: absolute;
  bottom: 24px;
  right: 24px;
}
